html 
    head 
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        link(rel="stylesheet" href="style.css")
        title= titule
    body 
        div.container
            input(type="text" placeholder="name" id="name")
            input(type="text" placeholder="number" id="number")
            button(id="btn_add") Add new contact to agenda
            each contact in contacts 
                div.contact
                    p= `${contact.id_agenda} --- ${contact.nombre_contacto}`
                    span(class="material-symbols-outlined" id=`${contact.id_agenda}`) delete
    script(src="functions.js")
</span>